.container {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
}

.logical-table {
  display: flex;
  justify-content: space-around;
  padding: 10px 20px;
}

.logical-table th {
  padding: 10px 20px;
  border: 1px solid;
}

.logical-table td {
  padding: 10px 20px;
  border: 1px solid;
}

tbody {
  border: 2px solid;
  border-radius: 2px;
}



body {
  background-color: rgb(247, 247, 237);
}

body h1 {
  size: 30px;
}

.end {
  display: flex;
  flex-direction: column;
}

.output-title {
  font-size: 30px;
  font-weight: bold;
}

.output {
  font-size: 15px;
  margin-bottom: 60px;
}